/*--Calculadora Quinquênio--*/

.quinquenio{
  padding: 30px;
  place-content: center;
  height: 650px;
}

.quinquenio-box {
  margin: 50px auto;
  margin-top: 30px;
  text-align:  center;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #f9f9f9;
}

.quinquenio-box h4 {
  margin-bottom: 20px;
}

.quinquenio-box label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.quinquenio-box input {
  width: 100%;
  max-width: 250px;
  padding: 8px;
  margin-bottom: 15px;
}

.quinquenio-box button {
  padding: 10px 20px;
  background-color: #2f5e2f;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

#resultado {
  margin-top: 20px;
  line-height: 1.8;
}

