/*--cores--*/

:root {
--tamanho-fonte: 14px;
--cor-verde-principal: #2f5e2f;
--cor-verde-principal-hover: rgb(143, 188, 143);
--cor-branco: #ffffff;
--cor-preto: #000000;
--cor-border-rodape: #ccc;
--cor-fundo: #eafeea;
--cor-fundo-input: #f9fef9;
--texto-alerta: #d68910;
--texto-erro:  #c62828;
}

body {
  font-size: var(--tamanho-fonte);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}



/*--Home--*/

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  min-height: 100vh;

  text-align: center;

  padding: 10px;
  padding-top: 20px;
}

.logo-home {
  width: 300px;
  margin-bottom: 30px;
}


.menu {
  font-size: 14px;

  margin-top: 30px;

  padding: 12px 20px;

  border-radius: 12px;

  text-decoration: none;
}

.menu-principal {
   display: flex;
   flex: 2;
   gap: 80px;
   justify-content: center;
   align-items: flex-start;
}

.menu-principal > li {
   position: relative;
}

.home h5, h1 {
    justify-content: center;
}

.home h5 {
    margin-top: 30px;
}

.cabecalho {
    position: relative;
    height: 180px;
    text-align: center;
    padding: 15px;
    margin-top: 0;
    
}

.botao {
  background-color: var(--cor-verde-principal);
  font-weight: 700;
  border: none;
  font-size: 1rem;
  color: var(--cor-branco);
  width: 100%;
  padding: 10px 24px;
  border-radius: 12px;
  cursor: pointer;
}

.botao li a {
  text-decoration: none;
}

.botao:hover {
  color: var(--cor-branco);
  font-weight: 600;
  font-size: .9rem;
  background-color: var(--cor-verde-principal-hover);
  transition: 0.3s;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.logo img {
  width: 350px;
  text-align: center;
}

header img {
    position: relative;
}

.btn {
  position: absolute;
  top: 70px;
  right: 20px;
  margin-left: auto;
  padding: 10px 16px;
  border-radius: 12px;
  cursor: pointer;
  background-color: var(--cor-verde-principal);
  color: var(--cor-branco);
  border: none;
  border-radius: 12px;
}

.btn:hover {
  color: var(--cor-branco);
  font-weight: 600;
  font-size: 0.9em;
  background-color: var(--cor-verde-principal-hover);

}

.rodape {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    align-items: center;
    border-top: 1px solid var(--cor-border-rodape);
    margin-top: 80px;
    padding-top: 20px;
}

.rodape img {
  width: 150px;
  margin-bottom: 10px;
}

.endereco {
  margin-left: auto;
  text-align: right;
  margin-right: 10px;
}

/*-- Media print --*/

@media print {

  .button-pdf {
    display: none;
  }

}

@page {
  margin: 2cm;
}

@media print {

  .btn {
    display: none;
  }

}

@media print {

  .rodape {
 
    bottom: 0;

    width: 100%;

    margin-top:25px;

    padding-bottom: 0;
  }

}

/* ==========================================
   RESPONSIVIDADE - CELULAR
   ========================================== */

@media (max-width: 768px) {
  .menu-principal {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 30px;
   padding: 20px;
  }
}